{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<h2>MADqtt</h2>
<nav class="nav nav-pills nav-fill mt-3 mb-3 flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "overview" }}" href="{{ url_for('madqtt.madqtt') }}">Overview</a>
    <a class="flex-sm-fill text-sm-center nav-link {{ "active" if subtab == "settings" }}" href="{{ url_for('madqtt.madqtt/settings') }}">Settings</a>
</nav>
{% endblock %}
