{% extends "madqtt.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>

<script type="text/javascript">
  $('#broker\\.auth').change(function() {
    if ($(this).children("option:selected").val() == 'True') {
      $('#broker\\.authsettings').prop('disabled', false);
    } else {
      $('#broker\\.authsettings').prop('disabled', true);
    }
  });

  $("#submit").click(function() {
        save_data = get_save_data();
        console.log(save_data);
    });
</script>
{% endblock %}

{% block content %}
{{ super() }}

<div class="row">
  <div class="col-sm">
    <h4>mqtt</h4>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="mqtt.topic">topic</label>
          <input type="input" class="form-control" id="mqtt.topic" name="mqtt.topic" value="madqtt" data-default="madqtt">
          <small class="form-text text-muted">base topic for MADqtt communication (Default: madqtt)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h4>broker</h4>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="broker.host">host</label>
          <input type="input" class="form-control" id="broker.host" name="broker.host" value="localhost" data-default="localhost">
          <small class="form-text text-muted">address of the mqtt broker (Default: localhost)</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="broker.port">port</label>
          <input type="number" min="1" max="65535" class="form-control" id="broker.port" name="broker.port" value="1883" data-default="1883">
          <small class="form-text text-muted">port of the mqtt broker (Default: 1883)</small>
        </div>
      </div>
      <div class="col-xs">
        <div class="form-group">
          <label>&nbsp;</label>
          <button type="button" class="form-control btn btn-primary" id="connection-test">
            <i class="fa fa-sync-alt"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="broker.tls">tls</label>
          <select class="form-control" id="broker.tls" name="broker.tls" data-default="False">
            <option value="False" selected>false</option>
            <option value="True">true</option>
          </select>
          <small class="form-text text-muted">using tls to connect to the mqtt broker (Default: false)</small>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="broker.auth">auth</label>
          <select class="form-control" id="broker.auth" name="broker.auth" data-default="False">
            <option value="False" selected>false</option>
            <option value="True">true</option>
          </select>
          <small class="form-text text-muted">using client authentication (Default: false)</small>
        </div>
      </div>
    </div>
    <fieldset class="form-group" id="broker.authsettings" disabled>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="broker.username">user</label>
            <input type="input" class="form-control" id="broker.username" name="broker.username" value="" data-default="">
            <small class="form-text text-muted">username for client authentication</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="broker.password">pass</label>
            <input type="password" class="form-control" id="broker.password" name="broker.password" value="" data-default="">
            <small class="form-text text-muted">password for client authentication</small>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <h4>timeouts</h4>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="timeouts.mitm">mitm</label>
          <div class="input-group">
            <input type="number" min="1" class="form-control" id="timeouts.mitm" name="timeouts.mitm" value="600" data-default="600">
            <span class="input-group-text">seconds</span>
          </div>
          <small class="form-text text-muted">(Default: 600)</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="timeouts.proto">proto</label>
          <div class="input-group">
            <input type="number" min="1" class="form-control" id="timeouts.proto" name="timeouts.proto" value="600" data-default="600">
            <span class="input-group-text">seconds</span>
          </div>
          <small class="form-text text-muted">(Default: 600)</small>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="timeouts.restart">restart</label>
          <div class="input-group">
            <input type="number" min="1" class="form-control" id="timeouts.restart" name="timeouts.restart" value="900" data-default="900">
            <span class="input-group-text">seconds</span>
          </div>
          <small class="form-text text-muted">(Default: 900)</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="timeouts.check">check</label>
          <div class="input-group">
            <input type="number" min="1" class="form-control" id="timeouts.check" name="timeouts.check" value="60" data-default="60">
            <span class="input-group-text">seconds</span>
          </div>
          <small class="form-text text-muted">(Default: 60)</small>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block">Save</button>
  </div>
</div>

{% endblock %}
