{% extends "madqtt.html" %}

{% block header %}
{{ super() }}
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/madmin_settings.js') }}"></script>

$('#broker.auth').change(function() {
  if ($(this).is(':checked')) {
    console.log("Checkbox is checked..")
  } else {
    console.log("Checkbox is not checked..")
  }
});
{% endblock %}

{% block content %}
{{ super() }}

<div class="row">
  <div class="col-sm">
    <h4>broker</h4>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <label for="broker.host">host</label>
          <input type="input" class="form-control" id="broker.host" name="broker.host" value="localhost" data-default="localhost">
          <small class="form-text text-muted">address of the mqtt broker (Default: localhost)</small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="broker.port">port</label>
          <input type="input" class="form-control" id="broker.port" name="broker.port" value="1883" data-default="1883">
          <small class="form-text text-muted">port of the mqtt broker (Default: 1883)</small>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="broker.auth" name="broker.auth" value="">
          <label for="broker.auth" class="form-check-label">using client authentication</label>
        </div>
      </div>
    </div>
    <fieldset class="form-group" id="broker.authsettings" disabled>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="broker.username">username</label>
            <input type="input" class="form-control" id="broker.username" name="broker.username" value="">
            <small class="form-text text-muted">username for client authentication</small>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="broker.password">password</label>
            <input type="input" class="form-control" id="broker.password" name="broker.password" value="">
            <small class="form-text text-muted">password for client authentication</small>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>


{% endblock %}
