[plugin]
active = true

[timeouts]
proto = 600
restart = 900
check = 60

[mqtt]
host = localhost
#port = 1883
#user = mqttuser
#pass = mqttpass
ssl = false
client-id = madqtt-client

[device.ATV06]
active = true
topic-pub = cmnd/tasmota_471E51/POWER
topic-sub = stat/tasmota_471E51/POWER
topic-req = cmnd/tasmota_471E51/POWER
payload-on = ON
payload-off = OFF
